body {
    background-color: #e4e4e4;
}

.row {
    padding-top: 50px;
}

h2 {
    margin: 20px 0;
}

.container-fluid{
    width: 90%;
    padding: 0 5%;
}

.card input,
.card label {
    margin-bottom: 10px;
}

.card .btn {
    margin-top: 20px;
}

#search-form {
    width: 400px;
}

