<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/customers">View All Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/add">Add Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/track/search">Search Track</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container inner-padded">
    <!-- If query got executed, display an alert displaying success.-->
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
        <strong>Success!</strong> The new customer was added.
    </div>
    <!-- If query failed, display an alert displaying failure.-->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${success} == false">
        <strong>Oops!</strong> Something has gone wrong :(
    </div>
    <div class="row">
        <div class="col-sm-6 offset-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <h1 class="card-title">New customer</h1>
                <div class="card-body">
                    <!-- Create a new customer object and add the fields from form to object.-->
                    <!-- Then save the customer in the database.-->
                    <form action="#" th:action="@{/customer/add}" th:object="${customer}" method="post">
                                <div class="form-group">
                                    <label for="FirstName">First name</label>
                                    <input type="text" class="form-control" id="FirstName" th:field="*{firstName}">
                                </div>
                                <div class="form-group">
                                    <label for="LastName">Last name</label>
                                    <input type="text" class="form-control" id="LastName" th:field="*{lastName}">
                                </div>
                                <div class="form-group">
                                    <label for="Country">Country</label>
                                    <input type="text" class="form-control" id="Country" th:field="*{country}">
                                </div>
                                <div class="form-group">
                                    <label for="PostalCode">Postal code</label>
                                    <input type="text" class="form-control" id="PostalCode" th:field="*{postalCode}">
                                </div>
                                <div class="form-group">
                                    <label for="PhoneNumber">Phone number</label>
                                    <input type="text" class="form-control" id="PhoneNumber" th:field="*{phoneNumber}">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="Email" th:field="*{email}">
                                </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>