<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/customers">View All Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/add">Add Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/track/search">Search Track</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    5 Random Artists
                </div>
                <!-- Loops through a list of artists and creates a list item for each artist name. -->
                <ul class="list-group list-group-flush" th:each="artist: ${artists}">
                    <li class="list-group-item" th:text="${artist.getArtistName()}"></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    5 Random Tracks
                </div>
                <!-- Loops through a list of tracks and creates a list item for each track name. -->
                <ul class="list-group list-group-flush" th:each="track: ${tracks}">
                    <li class="list-group-item" th:text="${track.getName()}"></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    5 Random Music Genres
                </div>
                <!-- Loops through a list of genres and creates a list item for each genre name. -->
                <ul class="list-group list-group-flush" th:each="genre: ${genres}">
                    <li class="list-group-item" th:text="${genre.getName()}"></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</body>
</html>