<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/customers">View All Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/add">Add Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/track/search">Search Track</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Country</th>
                <th>Postal code</th>
                <th>Phone number</th>
                <th>Email</th>
            </tr>
        </thead>
        <!-- Loops through a list of customers, creates a table row for each customer and their
        information such as id, name, country etc.-->
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.getId()}"></td>
            <td th:text="${customer.getFirstName()}"></td>
            <td th:text="${customer.getLastName()}"></td>
            <td th:text="${customer.getCountry()}"></td>
            <td th:text="${customer.getPostalCode()}"></td>
            <td th:text="${customer.getPhoneNumber()}"></td>
            <td th:text="${customer.getEmail()}"></td>
        </tr>
    </table>
</div>
</body>
</html>