<!--THIS IS NOT BEING USED-->
<!--THIS IS NOT BEING USED-->
<!--THIS IS NOT BEING USED-->
<!--THIS IS NOT BEING USED-->
<!--THIS IS NOT BEING USED-->
<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/customers">View All Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/add">Add Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/track/search">Search Track</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div th:text="${customer.getFullName()}"></div>
    <div th:text="${customer.getCountry()}"></div>
    <div th:text="${customer.getPostalCode()}"></div>
    <div th:text="${customer.getPhoneNumber()}"></div>
    <div th:text="${customer.getEmail()}"></div>
</div>
</body>
</html>