<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/customers">View All Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/add">Add Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/track/search">Search Track</a>
                </li>
            </ul>
            <form class="d-flex" action="#" th:action="@{/track/search}" method="post">
                <!-- Saves the string from the search input field in a variable called searchString -->
                <input type="text" class="form-control me-2" name="searchString" th:value="${searchString}">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <!-- Displays the searchString as a h2 on page if it was successful. -->
    <h2 th:if="${success}" th:text="'You seached for: ' + ${searchString}"></h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Track</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
            </tr>
        </thead>
        <!-- Loops through a list of TrackInfo and creates a table row for every track and it's
        information such as TrackId, Track name, Artist name etc. -->
        <tr th:each="track: ${trackInfo}">
            <td th:text="${track.getTrackId()}"></td>
            <td th:text="${track.getTrackName()}"></td>
            <td th:text="${track.getArtistName()}"></td>
            <td th:text="${track.getAlbumTitle()}"></td>
            <td th:text="${track.getGenre()}"></td>
        </tr>
    </table>
</div>
</body>
</html>